.message__body__chat
  .message__body__chat__name
    = current_user.name
  .message__body__chat__time
    = message.created_at.strftime("%Y/%m/%d %H:%M:%S")
  .message__body__chat__comment
    = message.body
