$white--main: #FFF;
$light__blue: #38aef0;
$dark__navy: #253141;
$navy: #2f3e51;
$border-color: #eee;
$black--font: #333;
$light__black--font: #999;
$cream__white: #fffffc;
$black--name-font: #434A54;
$light__gray: #ddd;
