$white--main: #FFFFFF;
$light__blue: #38aef0;
$dark__navy: #253141;
$navy: #2f3e51;
$border-color: #eeeeee;
$black--font: #333333;
$light__black--font: #999999;
$cream__white: #fffffc;
$black--name-font: #434A54;
$light__gray: #dddddd;
