@mixin flash() {
  width: auto;
  height: 30px;
  text-align: center;
  color: white;
  margin: auto 0;
  padding: 5px 0 5px;
}

.notice{
  @include flash();
  background-color: $blue;
}

.alert{
  @include flash();
  background-color: $red;
}
