.flash {
  width: auto;
  height: 30px;
  text-align: center;
  color: white;
  margin: auto 0;
  .notice{
  background-color: blue;
  padding: 5px 0 5px;
  }

  .alert{
  background-color: red;
  padding: 5px 0 5px;
  }
}
